@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');

.container{
    background:#0087bd;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.container a{
    color: white;
    margin-right: 50px;
    font-size: 17px;
    float: left;
    margin-top: 20px;
}

.header__links{
  padding-top: 10px;
}

.htwo{
    color: orange;
    float:left;
    margin-right: 130vh;
    margin-top:20px ;}


    @media screen and (max-width: 600px) {
        .container{
            background:#0087bd;
            color: white;
            font-family: 'Poppins', sans-serif;
            padding-bottom: 110px;
        }
        
        .header__links{
            margin-top: -20px;
            font-size: xx-small;
            padding: -10px;
          }

          #md_icon{
            display: none;
          }

          .htwo{
            color:orange;
            float:left;
            margin-top:20px;
            
        }

      }

      @media screen and (max-width: 1000px) {
        .container{
            background:#0087bd;
            color: white;
            font-family: 'Poppins', sans-serif;
            padding-bottom: 10px;
        }
        .header__links{
          padding-top: 10px;
          font-size: xx-small;
          padding: -10px;
        }

          .htwo{
            color:orange;
            float:left;
            margin-right: 170px;
            margin-top:20px ;}

      }