.search__section{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.search__input{
    color:black
}
.search__input:hover{
    cursor: pointer;
    size:50px;
    color:#0087bd;
}

